<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
    <h1>Users</h1>
    <a href="/">Home</a>
    <br>
    <a href="/food">See food</a>

    <ul>
      <li>Anthony Bosch</li>
      <li>Will St Onge</li>
      <li>Will Sie</li>
      <li>Cory Knoll</li>
      <li>Justin Gallagher</li>
    </ul>
  </body>
</html>